<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppQuanLyGiay"
        tools:targetApi="31">
        <activity
            android:name=".Activity.activity_hangtrongkho"
            android:exported="false"
            android:label="Hàng trong kho">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:label="Trang chủ">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.activity_quenMK"
            android:exported="false"
            android:label="Quên mật khẩu">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.activity_dangky"
            android:exported="false"
            android:label="Đăng ký">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.Login"
            android:exported="true"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.activity_themhoadon_xuat"
            android:exported="false"
            android:label="Xuất Hàng">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""
                />
        </activity>
        <activity
            android:name=".Activity.activity_nhaphang"
            android:exported="false"
            android:label="Nhập Hàng">>
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <activity android:name=".Activity.activity_list_sanpham"
            android:exported="false"
            android:label="Danh sách nhập hàng ">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <activity android:name=".Activity.activity_themhoadon_nhap"
            android:label="Thêm hàng ">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
    </application>

</manifest>